.vscode/tasks.json
.vscode/settings.json
.vscode
/task4_v2/.vs
/task4_v2/task4_v2/task4_v2/x64
*.obj
*.pdb
*.exe
*.ilk
*.json
*/.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*/x64
/task4_v2/task4_v2/x64
/Prac4/Prac4/x64
